@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  font: normal 100%/1.5 Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*-------------------------------------------------*/

.img-flex{
  width: 100%;
  display: block;
}

body {
  margin: 0;
}


h1 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: black;
}

header {
  background-color: #cccccc;
}

.subheader {
  background-color: #e2e2e2;
}

nav {
  width: 100%;
}

ol {
  list-style: none;
  display: block;
  text-align: center;
}

li {
  float: left;
  text-align: center;
  padding-left: 2em;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  background-color: blue;
  color: white;
}

p, h2, dd, dt {
  padding-left: .75rem;
  padding-right: .75rem;
}

.backgrey {
  background-color: #cccccc;
}

.backligrey {
  background-color: #e2e2e2;
}

footer a:hover{
  color: #fff;
}


/*------------moon---------------*/

footer {
  background-color: #e2e2e2;
}



/*------------media---------------*/

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  .title,
  .nav {
    text-align: left;
  }

}

/*------------Media moon---------------*/

@media only screen and (min-width: 38em){


.nav-ol {
  display: inline-block;
  width: 100%;
}

.nav-ol li{
  float: left;
}


}

@media only screen and (min-width: 55em) {


}



/*---------------------------------explore-------------------*/



@media only screen and (min-width: 20em) {


}
