@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  font: normal 100%/1.5 Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}



/*-------------------------------------------------*/

.img-flex{
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  padding-bottom: 2rem;
}

header {
  background-color: #cccccc;
}

.subheader {
  background-color: #e2e2e2;
}

nav {
  width: 100%;
}

ol {
  list-style: none;
  display: block;
  text-align: center;
}

li {
  float: left;
  text-align: center;
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: blue;
}

a :hover {
  background-color: blue;
  color: white;
}

p, h2, dd, dt {
  padding-left: .75rem;
  padding-right: .75rem;
}

.backgrey {
  background-color: #cccccc;
}

.backligrey {
  background-color: #e2e2e2;
}

/*------------media---------------*/

@media only screen and (min-width: 38em){

}


/*------------moon---------------*/

li a {
    color: black;
}

.nav-ol {
  list-style-type: none;
  display: block;
}


.hmoon a {
  color: black;
}

.moons p {
  text-align: center;
}

.hmoon {
  text-align: left;
  margin-bottom: 0.75em;
}

.hmoon p {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*------------Media moon---------------*/

@media only screen and (min-width: 38em){

.moons p {
    text-align: left;
  }

.nav-ol {
  display: inline-block;
  width: 100%;
}

.nav-ol li{
  margin-right: 1em;
  float: left;
}

.yellow {
  width: 100%;
}

.orng {
  width: 50%;
}

.blue{
  width: 100%;
}

.green {
  width: 100%;
}

}

@media only screen and (min-width: 55em) {

.moons p {
  text-align: left;
}

.yellow {
  width: 100%;
}

.orng {
  width: 50%;
}

.blue {
  width: 50%;
}

.green {
  width: 50%;
}

}



/*---------------------------------explore-------------------*/

.exploration-h2 {
  background-color: #e2e2e2;
}

.exploration-links {
  background-color: #cbcbcb;
}

@media only screen and (min-width: 20em) {

  .exploration-links ol {
    text-align: left;
    padding-left: 0.6rem;
    margin-bottom: 0;
  }

}
