@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

/*header with nav-----------*/

h1 {
  text-align: center;
  margin-bottom: 0;
}

header {
  background-color: lightgrey;
}

ol {
  list-style: none;
  padding: 0;
  margin: 2em 0 2em 0;
  display: block;
  width: 100%;
  overflow: hidden;
}

li {
  float: left;
  text-align: center;
  padding-left: 1em;
}

a {
  text-decoration: none
}

a :hover {
  color: red;
}


/*------------media---------------*/

@media only screen and (min-width: 20em) {



@media only screen and (min-width: 38em){


h1 {
  text-align: left;
  margin-top: 1em;
  padding: 0;
}

ol {
  margin: 2em 0 0 0;
  padding: 0;
  text-align: left;
}

}



/*------------moon---------------*/

li a {
    color: black;
}

.nav-ol {
  list-style-type: none;
  display: block;
  padding: 1.5em 0;
}

.nav li {
  width: 33.3333%;
}

.hmoon a {
  color: black;
}

.moons p {
  text-align: center;
}

.moons nav {

}

.hmoon {
  text-align: left;
  margin-bottom: 0.75em;
}

.hmoon p {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*------------Media moon---------------*/

@media only screen and (min-width: 20em){

}

@media only screen and (min-width: 38em){

body {
  background-color: yellow;
}

.nav-ol {
  display: inline-block;
  width: 100%;
}

.nav-ol li{
  margin-right: 1em;
  float: left;
}
}
